.nav-container {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  z-index: 1;
}

.nav-logo {
  margin-left: 10px;
}

.nav-avatar {
  margin-right: 10px;
}

.nav-container-grey {
  background-color: grey;
}
